.card{
    background-color: var(--almost-white);
    width: 100%;
    box-sizing:border-box;
    margin: auto;
    padding: 20px ;
    border: 1px solid #888;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
}

.error{
    background-color: #c53f3f;
    width: 100%;
    box-sizing:border-box;
    margin: auto;
    padding: 20px ;
    border: 1px solid #1b1b1b;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
}