.navContainer {
  position: relative;
  display: flex;
}

.toggleButton {
  position: absolute;
  top: 10px;
  left: 17px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
  outline: none; /* Elimina el requadre blau del focus */
  padding: 10px; /* Afegeix padding per fer el botó més gran */
  padding-bottom: 20px;
}

.toggleButton:focus {
  outline: none; /* Assegura't que el focus no afegeixi un requadre */
}

.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 240px;
  color: #8b8b8b;
  background-color: var(--dark-blue);
  padding: 20px 20px;
  height: 100vh;
  transition: width 0.3s;
}

.navCollapsed {
  width: 80px; /* Ample augmentat per deixar més espai per a les icones */
}

.navUl {
  margin: 30px 0;
  padding: 0;
  flex-grow: 1;
}

.navLi {
  list-style: none;
  font-size: 20px;
  padding: 10px 7px; 
  border-radius: 10px;
  color: #bebebe;
  display:flex;
  align-items: left;
  margin-bottom: 10px;
}


.navLi:hover {
  cursor: pointer;
  background-color: var(--gray-blue);
  color: var(--almost-white);
}

.navLiActive {
  color: var(--almost-white);
  font-weight: 600;
}

.navLiIcon {
  margin-right: 10px;
  margin-left: 0px;
  width: 60px; /* Augmentat per deixar més espai per a les icones */
  font-size: 24px;
  text-align: left;
}

.hr {
  color: rgb(158, 158, 158);
  margin: 20px 0;
}

.content {
  padding-top: 200px;
}