.collabo-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:auto;
    min-width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.collabo-item-selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:auto;
    min-width: 300px;
    height: 100%;
    background-color: #bbe7b5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.collabo-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}